.file-upload-container {
  background-image: linear-gradient(rgba(0, 0, 0),rgb(16, 20, 38));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px;
  
}

.file-upload-form {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  width: 500px;
  height: 300px;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border: 1px groove rgb(0, 0, 0);
  border-radius: 15px;
  background-color: #12141c;
  opacity: 1;
  box-shadow: 0px 6px 40px rgb(1, 1, 30);
  
}

label{
  color: rgb(255, 255, 255);
  margin-top: 70px;
  margin-left: 90px;
}



.file-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00070e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #92b1d0;
}
