.file-upload-container {
  background-image: linear-gradient(rgba(218, 0, 0, 0.63),rgb(255, 255, 255));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.file-upload-form {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  width: 500px;
  height: 300px;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border: 1px groove rgb(26, 17, 3);
  border-radius: 5px;
  background-color: #fff;
  opacity: 1;
}

.file-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00070e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #92b1d0;
}
